/* Reset */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
html {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5rem;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  background: #FFF url(../images/dan-and-students-overhead-70.jpg) center top no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
div#fixedheader {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 13.5px 0px 13.5px 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid #DDD;
  color: #AA1925 !important;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
div#fixedfooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #AA1925;
  padding: 13.5px 0px 13.5px 10px;
  color: #FFFFFF !important;
  -webkit-font-smoothing: antialiased;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
h1 {
  font-size: 1.9rem;
  line-height: 3rem;
  letter-spacing: 0.2em;
  color: #FFFFFF !important;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  padding-bottom: 20px;
  margin-top: 140px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
h2 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #FFFFFF;
  padding-bottom: 60px;
  margin-top: 20px;
}
h3 {
  font-size: 28px;
  font-weight: 600;
  color: #FFFFFF;
}
#join-form.form {
  display: block;
  width: 50%;
  margin: auto;
}
#slack-email.field {
  display: block;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  float: left;
  padding: 0.75rem;
  transition: border-color;
  height: 2.5rem;
  min-width: 67.5%;
  border: 2px solid #DDD;
  border-right-width: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  line-height: 1.5rem;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  color: #FFFFFF !important;
}
#slack-email.submit {
  display: block;
  background: rgba(255, 255, 255, 0.4);
  /*margin: auto;*/
  border: 2px solid #DDD;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  line-height: 1.5rem;
  height: 4.26rem;
  min-width: 10em;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
@media screen and (max-width: 1269px) {
  .form {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #slack-email.field {
    border-radius: 8px;
    border-right-width: 2px;
    float: inherit;
  }
  #slack-email.submit {
    margin: auto;
    border-radius: 8px;
    margin-top: 20px;
  }
}
#slack-email.submit:hover {
  background: rgba(255, 255, 255, 0.2);
  outline: 0;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}
.error {
  color: #CFCFC4;
  font-weight: 700;
  font-size: 25px;
}
a {
  color: #92BCF2;
  font-weight: 700;
}
a:visited, a:hover {
  color: #FFFFFF;
}
::-webkit-input-placeholder {
  color: #FFFFFF;
}
:-moz-placeholder {
  color: #FFFFFF;
}
::-moz-placeholder {
  color: #FFFFFF;
}
:-ms-input-placeholder {
  color: #FFFFFF;
}
textarea:focus, input:focus {
  outline: none;
}
