/* Reset */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
html, body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  background: #fff url(../images/shop-floor.jpg) center top no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
padding-left: 0;
padding-right: 0;
padding-top: 4.5rem;

}
.header, .content, .bottom, .sep2 {
  width: 100%;
  float: left;
}
.header {
  margin-top: 180px;
  margin-bottom: 40px;
}
div#fixedheader {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 13.5px 0px 13.5px 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid #ddd;
  color: #AA1925 !important;
  font-size: 18px;
}
div#fixedfooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #AA1925;
  padding: 13.5px 0px 13.5px 10px;
  color: #FFFFFF !important;
  -webkit-font-smoothing: antialiased;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
h1 {
  font-size: 1.9rem;
  line-height: 3rem;
  letter-spacing: 0.2em;
  color: #FFFFFF !important;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  padding-bottom: 20px;
  margin: 0 0 1.5rem;
  text-align: center;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
h2 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 60px;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}
.information p {
  font-size: 16px;
  color: #ffffff;
  display: block;
	width: 480px;
	padding-top: 35px;
	margin: 0 auto;
}
.form {
	display: block;
	margin-bottom: 1.5rem;

/*border-radius: 0;
border-right-width: 0;
border-bottom-left-radius: 8px;
border-top-left-radius: 8px;
padding-left: 1.5rem;
width: auto;
margin: 0*/

}

#slack-email.field {
	background: transparent;
	width: 448px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border-right-width: 0;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	padding-left: 1.5rem;
	line-height: 1.5rem;
	height: 3.22rem;
  width: 80%;
	margin: 0;
	float: left;
	color: #ffffff;
	font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	font-size: 18px;

  /*padding: 15px;
  margin-bottom: 15px;*/
}

#slack-email.submit {
	border-radius: 0;
	border-right-width: 0;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	padding-left: 1.5rem;
	line-height: 1.5rem;
	height: 3.22rem;
	width: 80%;
	margin: 0;
	display: inline-block;
	float: left;
}

.submit:hover {
  background: rgba(255, 255, 255, 0.2);
  outline: 0
}
.error {
  color: #FE7070;
  font-weight: 700;
  font-size: 25px;
}
a {
  color: #92BCF2;
  font-weight: 700;
}
a:visited, a:hover {
  color: #7EB6FF;
}
