/* Reset */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
html {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  background: #fff url(../images/dan-and-students-overhead-70.jpg) center top no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/*.header, .content, .bottom, .sep2 {
  width: 100%;
  float: left;
}*/

.header {
  /*margin-top: 180px;
  margin-bottom: 40px;*/
}
div#fixedheader {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 13.5px 0px 13.5px 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid #ddd;
  color: #AA1925 !important;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
div#fixedfooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #AA1925;
  padding: 13.5px 0px 13.5px 10px;
  color: #FFFFFF !important;
  -webkit-font-smoothing: antialiased;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
h1 {
  font-size: 1.9rem;
  line-height: 3rem;
  letter-spacing: 0.2em;
  color: #FFFFFF !important;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  padding-bottom: 20px;
  margin-top: 140px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
h2 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 60px;
  margin-top: 20px;
}
h3 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}
.join-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}
#slack-email.field {
  transition: border-color;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #ddd;
  border-right-width: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  display: block;
  padding: 0.75rem;
  line-height: 1.5rem;
  height: 2.5rem;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*margin-left: 15%;*/
  /*float: left;*/
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  color: #FFFFFF !important;
}
.submit {
  align-items: flex-start;
  border: 2px solid #ddd;
  border-radius: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  /*border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-width: 1;*/
  /*padding: 0.75rem;*/
  line-height: 1.5rem;
  height: 4.26rem;
  min-width: 10em;
  display: inline-block;
  float: center;
  background: rgba(255, 255, 255, 0.4);
  color: #ffffff;
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  text-align: center;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  vertical-align: middle;
  white-space: nowrap;
}
@media (max-width: 1022px) {
  .submit {
    align-items: flex-start;
    border: 2px solid #ddd;
    border-radius: 8px;
    align-items: center;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    padding: 0.75rem;
    line-height: 1.5rem;
    height: 4.26rem;
    min-width: 10em;
    display: inline-block;
    float: center;
    background: rgba(255, 255, 255, 0.4);
    color: #ffffff;
    font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 18px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    vertical-align: middle;
    white-space: nowrap;
  }
}
.submit:hover {
  background: rgba(255, 255, 255, 0.2);
  outline: 0;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}
.error {
  color: #FE7070;
  font-weight: 700;
  font-size: 25px;
}
a {
  color: #92BCF2;
  font-weight: 700;
}
a:visited, a:hover {
  color: #FFFFFF;
}
::-webkit-input-placeholder {
  color: #FFFFFF;
}
:-moz-placeholder {
  color: #FFFFFF;
}
::-moz-placeholder {
  color: #FFFFFF;
}
:-ms-input-placeholder {
  color: #FFFFFF;
}
textarea:focus, input:focus {
  outline: none;
}
